<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- NAVBAR -->
    <div id="navbar" class="navbar-custom">
        <div id="logo" class="logo">
            <span class="ms-2">📚🕷🕸 Reading Web</span>
        </div>
        <div id="nav-links" class="nav-links">
            <a href="#">LIVROS</a>
            <a href="#">LISTAS</a>
            <button class="btn-log">+ 📚</button>
        </div>
    </div>

    <!-- FORMULÁRIO -->
    <div class="main-content">
        <div id="form-container" class="form-container">
            <h3>Cadastro</h3>
            <form>
                <div class="mb-3">
                    <label class="form-label">Login:</label>
                    <input type="text" class="form-control" name="Login" placeholder="Informe seu Login">
                </div>
                <div class="mb-3">
                    <label class="form-label">Senha:</label>
                    <input type="password" class="form-control" name="Senha" placeholder="Informe sua Senha">
                </div>
            </form>
        </div>
    </div>

    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
